:root {
  /* Color */
  --primaryText-veryDarkBlue: hsl(238, 29%, 16%);
  --primaryText-softRed: hsl(14, 88%, 65%);
  --neutralText-veryDarkGreyBlue: hsl(237, 12%, 33%);
  --neutralText-darkGreyBlue: hsl(237, 12%, 33%);
  --gradientbg-softViolet: hsl(273, 75%, 66%);
  --gradientbg-softBlue: hsl(240, 73%, 65%);
  --dividers-lightGreyBlue: hsl(240, 5%, 91%);

  /* Typography */
  --default-fs: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: var(--default-fs);
  min-height: 100vh;
  background: linear-gradient(
    var(--gradientbg-softViolet),
    var(--gradientbg-softBlue)
  );
}

/* #faq__arrow {
  cursor: pointer;
} */

.card {
  position: absolute;
  background-color: #fff;
  width: 70rem;
  height: 40rem;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  display: flex;
  /* overflow: hidden; */
}

/* Card left */

.card__left {
  width: 100%;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-position: bottom -80px right 140px;
  background-repeat: no-repeat;
}

.overflow-hidden {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overflow-hidden img {
  position: relative;
  top: 20%;
  margin-left: -5rem;
}

.card__left .card__left-box {
  position: relative;
  top: -59%;
  left: -16.6%;
  overflow: visible;
}

.card__right {
  width: 100%;
}

/* Card right */
.faq-container {
  margin-left: 4rem;
}

.faq-container h1 {
  font-size: 2rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.faq__question {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 25rem;
  border-bottom: 1px solid var(--dividers-lightGreyBlue);
}

.faq__question p {
  margin-right: 4rem;
  font-size: 1rem;
}

/* Active */
.faq__active {
  display: none;
  /* display: flex;
  flex-direction: column; */
}

.faq__active p {
  font-weight: 700;
}

.faq__answer {
  width: 25rem;
  line-height: 150%;
}

.faq__answer p {
  font-weight: 300;
  padding-top: 1rem;
  color: var(--neutralText-darkGreyBlue);
  font-size: var(--default-fs);
}

.question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.question:hover {
  color: var(--primaryText-softRed);
}
